.profile__credentials-subtitle {
  margin-top: 14px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}


@media (min-width: 1024px) {
  .profile__credentials-subtitle {
text-align: left;
  }
}