@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-400.woff2') format('woff2'), 
       url('../fonts/inter-400.woff') format('woff')
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-500.woff2') format('woff2'),
       url('../fonts/inter-500.woff') format('woff')
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/inter-900.woff2') format('woff2'), 
       url('../fonts/inter-900.woff') format('woff')
}
/* page */

.container {
  margin-left: 19px;
  margin-right: 19px; 
}
.page { 
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
}

/* header */

.header {
  margin-top: 28px;
}
.header__logo {
  padding-left: 19px;
  width: 104px;
  height: 24px;
}

.header__line {
  margin-top: 41px;
  border: 1px solid #545454;
}

/* profile */

.profile {
  margin-top: 42px;
  text-align: center;
 }
.profile__wrapper { }
.profile__image {

 }
.profile__credentials { 

}
.credentials__title-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.profile__credentials-title {
  margin-top: 26px;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
 }

 .profile__edit-btn {
   width: 18px;
   height: 18px;
   margin-left: 10px;
 }
/*  
 .profile__credentials-title::after {
   position: absolute;
   content: "";
   background-image: url(../images/Edit_Button.png);
   background-size: 16px 16px;
   width: 16px;
   height: 16px;
 } */
.profile__credentials-subtitle {
  margin-top: 14px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.profile__btn {
  margin-top: 38px;
  width: 282px;
  min-height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
}
.profile__btn-content {
  width: 16px;
  height: 16px;
}

/* gallery */

.gallery {
  margin-top: 36px;
 }
.card {
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
 }
.card__wrapper {
 }
.card__image {
  width: 100%;
  margin: 0;
 }
.card__description {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 31px;
  padding-left: 21px;
  padding-right: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
.card__description-title {
  margin: 0;
  width: 190px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
 }
.card__button {
  display: block;
  border:none;
  background-color: transparent;
  background-image: url(../images/card_heart.svg);
  background-repeat: no-repeat;
  min-width: 21px;
  min-height: 19px;
  flex-shrink: 0;
 }